body {
    overflow-y: auto; 
    overflow-x: hidden; 
}

.sub-line-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:var(--color-text-light-2);
    font-size:larger;
}

.sub-col-line-container{    
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 20px;
}

.img-logo-big{    
    min-width: 600;
    height: 100px; 
    margin: 40 0 0 0;
}

.img-carre {
    width:150px;
    border-radius: 10px;    
    margin:20px;
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.img-carre:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #000000;
}


#image-logo-home {
    width:90%;    
    margin:30px;
}

.main-home-screen {     
    background-color: var(--color-bg-top-banniere);        
    margin: 24 auto;     
    width: 920px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    animation: fadeIn 1s;
    opacity: 0.95;
    box-shadow: 5px 5px 10px;    
    overflow: hidden;            
}

.sub-line-grid-container {
    display: grid;
    grid-template-columns: 40% auto;    
    align-items: center;
}

.cell-header-right-home {        
    width:100%;   
    height:100%; 
    display: flex;    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    font-size: smaller;      
}

.sub-header-item-detail{
    padding: 0px 40px;
    width: 80%;
}


@media only screen and (orientation: portrait) {

    .main-home-screen {
        width: 600px;
        height: auto;
    }

    .sub-line-container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sub-line-grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }        
}