body {
    overflow-y: auto;
    overflow-x: hidden; 
}

.group-main-service {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    color:var(--color-text-light-2);
}

.sub-line-main-service {        
    display: grid;
    grid-template-columns: 200px 520px;
    justify-items: center;    
    text-align: justify;
}

.sub-cell-main-service{    
    padding: 20px;    
}

.sub-line-main-service:nth-child(even) {    
    background-color: var(--color-text-dark-1);
}

.sub-line-main-service:nth-child(odd) {
    background-color: var(--color-text-dark-2);
}

.image-service {
    width:140px;  
    border-radius: 10px;   
    margin: 30 0 0 20; 
}

.service-title {    
    color: var(--color-text-light-2);
    width:82%;    
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;       
}

.service-title-width {
    width: 82%;
}

.service-title-item {       
    padding: 0 3 0 3;
}

.text-blue-overdark {
    color:var(--color-blue-overdark-cdse);
}

.main-home-screen-service {          
    margin: 30 auto 0 auto;     
    width: 920px;
    height: auto;    
}    

@media only screen and (orientation: portrait) {
    .root-service {
        font-size: 18px;
    }

    .main-home-screen-service {          
        margin: 30 auto 0 auto;     
        width: 600px;
        height: auto;
    }    

    .sub-line-main-service {        
        display: grid;
        grid-template-columns: 150px 420px;
        justify-items: center;    
        text-align: justify;
    }    
    
}
