
:root {
    --color-highlight: #555dce;
    --color-blue-cdse: #2F4253;
    --color-bg-root:#6A6A6A;
    --color-bg-main-content: #adadad;
    --color-bg-detail-content: #e4e4e4;
    --color-line-odd: #EEEEEE;
    --color-line-even: #FFFFFF;     
}

.root {
    background-color: var(--color-bg-root);
    display: flex;    
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 8;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.child-row {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    padding: 0 10 0 10; 
    min-height: 10px;       
}

.content-presentation {
    text-align: justify;
}

/**********  Header Main Div  ****************/
.header-cv {    
    height: 30%;      
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5 0 20 10;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap:nowrap;    
}

/*
.header-id-photo {        
    width: 30%;    
    display: flex;    
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    margin: 1%;        
    border-radius: 10px;
}
*/

.header-info {    
    background-color:var(--color-bg-detail-content);
    height: 220;    
    width: 42%;        
    min-width: 430px;
    display: flex; 
    flex-direction: row;
    justify-items: left;
    align-items: center;
    border-radius: 10px;
}

.header-logo {       
    height: auto;    
    width: 100%;    
    display: flex;    
    flex-direction: row;
    justify-content: center;    
    align-items: center;
}

.sub-header-logo {
    width:100%;
}

/********** Header sub div or component ***************/
/*.img-id-photo {
    display: block;
    max-width: 45%;
    width: auto;    
    height: auto;     
    border-radius: 10px;
    margin: auto;    
}*/
.img-id-photo {
    width: 140px;        
    border-radius: 10px;    
    padding:10px;
}

.img-logo{
    width: 100%;
}

.sub-header-info {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 10px;
}

.sub-header-info-line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 3px;    
}

.sub-header-info-item {
    padding: 4px;        
}

.sub_header_item_titre {
    background-color: var(--color-bg-main-content);
    color: var(--color-blue-cdse);
    text-align: center;
    font-size: 1.6em;    
    font-weight: 600;    
    padding: 10 10 10 10;
    border-radius: 10px;    
}

.sub_header_item_presentation {
    padding: 10 10% 10 10%;    
    font-size: larger;
    text-align: justify;
    color: #ffffff;
}

.sub-header-social-network {
    background-color: var(--color-bg-detail-content);
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3 3 3 3;    
}

.subchild-col{
    background-color: var(--color-bg-main-content);
    border-radius: 10px;
}

/********** CONTENT **************/
.content-left-block {    
    padding: 10px;
}

.content-left-block-detail:nth-child(odd) {
    background-color: var(--color-line-odd);
    display: grid;
    margin: 2px;
    grid-template-columns: 250px auto ; 
    padding: 5px;
    border-radius: 5px;      
}

.content-left-block-detail:nth-child(even) {
    background-color: var(--color-line-even);
    display: grid;
    margin: 2px;
    grid-template-columns: 250px auto ; 
    padding: 5px;
    border-radius: 5px;    
}

.content-left-block-title {
    font-size: 1.8em;
    display:flex;
    justify-content:left;
    align-items: center;    
    padding: 20 0 10 2; 
}

.content-left-block-title-detail {
    padding-right: 10px;
}

.content-detail-date {
    font-style: italic;    
}

.content-detail-form-diplome {
    font-weight: bold;
}

.content-detail-exp-client {
    display: flex;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 10px;
}

.content-detail-exp-poste {
    font-weight: bold;        
    font-size: larger;
    margin-bottom: 4px;
}

.content-detail-comptech-level {    
    height:1.5em;
}

.content-detail-techno {
    font-weight: bold;    
    font-size: larger;
}

/** GLOBAL **/
.text-highlight {
    color: var(--color-highlight, blue);     
    font-weight: bold;   
}

.margin_5px {
    margin:5px;
}

.generic-star {
    width: 16px;
}

.horizontal-box {
    display: flex;
    flex-direction: row;    
    align-items: center;
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
 ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--color-highlight);
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1.3em; /* Also needed for space (tweak if needed) */
  }

 a {
    text-decoration: none;
    color:inherit;
    font-weight: bold;    
 }
