body {
    margin: 0;
}

.root {
    background-color: var(--color-bg-root);    
    background-position:top left;
    background-repeat:repeat-x;
    display: flex;    
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;

}

.child-row {    
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    padding-top: 10px;
    min-height: 10px;       
}

.content-presentation {
    text-align: justify;
}

.img-toggle-day-night { 
    background-repeat: no-repeat;
    background-size: contain;
    width: 78px;
    height: 20;    
}

/**********  Header Main Div  ****************/
.header-cv {    
    height: 30%;      
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 50px;    
    justify-content: space-between;
    align-items: center;   
    margin-top: 45px; 
}

.header-info {    
    background-color:var(--color-bg-detail-content);
    height: 220;    
    width: 460px;
    display: flex; 
    flex-direction: row;
    justify-items: left;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

.header-presentation {
    display: flex;
    flex-direction: column; 
    justify-content: end;           
    margin: 0px 15px 0 40px;
}

.header-presentation-footer {    
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    
}

.header-right {             
    display: flex;    
    flex-direction: column;    
    justify-content: center;    
    padding-left: 10%;
}

.img-logo{    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
    width: 180px;
    height: 130px; 
}

.toggle-language{
    background-color: var(--color-text-grey-2);
    position:sticky;
    top:5px;    
    width: 140px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 5px 5px 10px;
}

.bg-title {
    background: linear-gradient(to right, var(--color-bg-root), var(--color-text-dark-1), var(--color-bg-root));     
    padding: 10px;
}

.first-letter-style {
    display:inline-block;
    text-align: justify;
}

.first-letter-style::first-letter {
    font-size:2em;
    font-weight: bold;
    color: var(--color-highlight-pink);
}

.central-hr {
    background: linear-gradient(to right, var(--color-bg-root), var(--color-blue-overdark-cdse), var(--color-bg-root));
    height: 3px;
    border-width: 0;
    margin: 0px;
}

/********** Header sub div or component ***************/
.img-id-photo {
    width: 140px;        
    border-radius: 10px;    
    padding:10px;
}

.sub-header-info {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 10px;
}


.sub-header-info-line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 3px;    
}

.sub-header-info-item {
    padding: 4px;        
}

.sub_header_item_titre {       
    color: var(--color-text-light-2);
    text-align: center;
    font-size: 1.5em;    
    font-weight: 600;        
    border-radius: 10px;     
}

.sub_header_item_presentation {
    
    color: var(--color-text-light-2);    
    padding: 10 10 10 0;    
    font-size: larger;    
}

.sub-header-social-network {
    background-color: var(--color-bg-detail-content);
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3 3 3 3;    
}

.sub-header-language {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    width:150;
}

.subchild-col{
    background-color: var(--color-bg-main-content);    
    border-radius: 10px;    
}

/********** CONTENT **************/
.content-left {
    width:70%;
    margin:5px;
}

.content-right {
    width:30%;
    margin:5px;    
}

.content-left-block {    
    padding: 10px;
}

.content-right-block {    
    padding: 10px;
}

.content-left-block-detail:nth-child(odd) {
    background-color: var(--color-line-odd);
    display: grid;
    margin: 2px;
    grid-template-columns: 250px auto ; 
    padding: 5px;
    border-radius: 5px;      
}

.content-left-block-detail:nth-child(even) {
    background-color: var(--color-line-even);
    display: grid;
    margin: 2px;
    grid-template-columns: 250px auto ; 
    padding: 5px;
    border-radius: 5px;    
}

.content-right-block-detail:nth-child(odd) {
    background-color: var(--color-line-odd);    
    margin: 2px;
    padding: 5px;
    border-radius: 5px;      
    align-items: center;      
}

.content-right-block-detail:nth-child(even) {
    background-color: var(--color-line-even);
    margin: 2px;
    padding: 5px;
    border-radius: 5px;      
}

.content-right-block-detail-line {
    display: grid;   
    grid-template-columns: 30px auto ;     
    margin: 5px;
    height: 28 px;    
    align-items: center;
}

.content-right-block-langue-line {
    display: grid;    
    grid-template-columns: 70px auto ;     
    margin: 5px;
    height: 16px;
}

.content-left-block-title {
    font-size: 1.8em;
    display:flex;
    justify-content:left;
    align-items: center;    
    padding: 20 0 10 2; 
}

.content-right-block-title {
    font-size: 1.8em;
    display:flex;
    justify-content:left;
    align-items: center;    
    padding: 20 0 10 2; 
}

.content-left-block-title-detail {
    padding-right: 10px;
}

.content-right-block-title-detail {
    padding-right: 10px;
}

.content-right-block-qualite{
    background-color: var(--color-line-even);
    margin: 2px;
    padding: 5px;
    border-radius: 5px;      
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
}

.content-detail-date {
    font-style: italic;    
}

.content-detail-form-diplome {
    font-weight: bold;
}

.content-detail-exp-client {
    display: flex;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 10px;
}

.content-detail-exp-poste {
    font-weight: bold;        
    font-size: larger;
    margin-bottom: 4px;
}

.content-detail-comptech-level {    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;    
    height:1.5em;
}

.content-detail-techno {
    font-weight: bold;    
    font-size: larger;
    padding: 5px;
}

.content-detail-db {
    font-weight: bold;    
    display:flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}

.content-detail-techno-icon {
    padding-top: 8;
}

.content-info-detail {
    margin-left: 6px;
    font-weight: bold;    
}

.content-info-logo {
    justify-self: center;
}

/** GLOBAL **/
.text-highlight {
    color: var(--color-blue-cdse, blue);     
    font-weight: bold;   
}

.blue-cdse {
    color: var(--color-blue-cdse);
}

.blue-overdark-cdse {
    color: var(--color-blue-overdark-cdse);
}

.text-web-logiciel {
    color: var(--color-blue-overdark-cdse);
    font-size: larger;
}


.light-1 {
    color: var(--color-text-light-1);
}

.light-2 {
    color: var(--color-text-light-2);
}

.grey-1 {
    color: var(--color-text-grey-1);
}

.grey-2 {
    color: var(--color-text-grey-2);
}

.dark-1 {
    color: var(--color-text-dark-1);
}

.dark-2 {
    color: var(--color-text-dark-2);
}

.bold-1 {
    font-weight: bold;    
}

.pink {
    color: var(--color-highlight-pink);
}

.margin_5px {
    margin:5px;
}

.generic-star {
    width: 16px;
}

.horizontal-box {
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.height-min-10{
    min-height: 10;
}

.width-100 {
    width: 100%;
}

.height-35px {
    height: 35px;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
  }

.row-centered-items {
    display:flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
}

.toggle-day-night {
    margin-left: 7px;    
}

ul {
    list-style: none; /* Remove default bullets */
    text-align: left;    
  }
  
 ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--color-blue-cdse);
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1.3em; /* Also needed for space (tweak if needed) */    
  }

 a {
    text-decoration: underline;
    color: inherit;    
    font-weight: bold;    
 }

 hr.pink {
    border: 1px solid var(--color-highlight-pink);
 }

 