:root {
    --color-highlight-blue: #555dce;
    --color-highlight-pink: #ac7474;    
    --color-blue-cdse: #2F4253;
    --color-blue-overdark-cdse: var(--color-blue-cdse);

    --color-bg-root:#e2e2e2;
    --color-bg-main-content: #c8c7ce;
    --color-bg-detail-content: #ffffff;    

    --color-line-odd: #EEEEEE;
    --color-line-even: #FFFFFF;

    --color-text-light-1: #030303;
    --color-text-light-2: #272727;    
    --color-text-grey-1: #909090;    
    --color-text-grey-2: #cecece;        
    --color-text-dark-1: #fafafa;    
    --color-text-dark-2: #fcfcfc;                
}

.root {
    background-image: url(../img/background-top-light.png);    
  }

.img-logo{
    background-image: url(../img/Logo-white-lite-1024.png);
}

.img-toggle-day-night {
    background-image: url(../img/btn-theme-day-70x30.png);
}


