:root {
    --color-highlight-blue: #555dce;
    --color-highlight-pink: #ECB6B6;    
    --color-blue-cdse: #2F4253;
    --color-blue-overdark-cdse: #bdc3e0;
    --color-bg-root:#6A6A6A;    
    --color-bg-main-content: #b9b9b9;
    --color-bg-detail-content: #dddddd;
    
    --color-line-odd: #EEEEEE;
    --color-line-even: #FFFFFF;
    --color-text-light-1: #FFFFFF;
    --color-text-light-2: #EEEEEE;    
    --color-text-grey-1: #909090;    
    --color-text-grey-2: #606060;        
    --color-text-dark-1: #3a3a3a;    
    --color-text-dark-2: #0a0a0a;     
    --color-text-date: #444444;                   
}

.root {
    background-image: url(../img/background-top.png);    
  }

.img-logo{
    background-image: url(../img/Logo-grey-lite-1024.png);
}

.img-toggle-day-night {
    background-image: url(../img/btn-theme-night-70x30.png);
}

